<html>
    <body>
        <form method = "POST" action="/new">
            <p>
                <label for="user">User:</label>
                <input type="text" id="user" name = "user"/>
            </p>
            <p>
                <label for="message">Message:</label>
                <input type="text" id="message" name = "message"/>
            </p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>